[MASTER]
ignore=CVS

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    wrong-import-order,
    line-too-long,
    logging-fstring-interpolation,
    broad-exception-caught,
    too-many-return-statements,
    too-many-branches,
    too-few-public-methods,
    unused-argument,
    no-else-return,
    import-error

[FORMAT]
max-line-length=250
